## 알트만 z-score 
 1. 운전 자본 비율 : 유동자산 - 유동부채 / 자산총계
 2. 누적 수익성 비율 : 이익 잉여금 / 자산 총계
 3. 총 자산 영업 이익률 : 영업이익 / 자산총계
 4. 자본 부채 비율 : 자기자본의 시장가치 / 부채총계
 5. 총 자산회전율 : 매출액/자산총계 


 * Z > 2.99 : 부도가능성 낮음
 * 1.81 < Z < 2.99 : 판단 보류
 * Z < 1.81 : 부도 가능성 높음

* 6년기간 z-스코어 2010-2016
 
* 2021 - 2022
 - 장기 투자를 본다면 단기 데이터는 신뢰성이 떨어진다.   

* 데이터 수를 생각할때 feature X 10 = 데이터수 가 일단 기본이다.

1. 오류 메세지 안뜨게 하기
2. 판다스 불러오기
3. mysql 불러오기
4. sql 보내는 라이브러리 불러 오기

In [1]:
import warnings
warnings.filterwarnings('ignore')
import pymysql
from sqlalchemy import create_engine
import pandas as pd

In [2]:
import pandas as pd
kos = pd.read_csv("./7_kop_kod.csv", dtype={'거래소코드': object}, encoding='cp949')
# kos = pd.DataFrame(kos)
kos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11658 entries, 0 to 11657
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   회사명       11658 non-null  object
 1   거래소코드     11658 non-null  object
 2   회계년도      11658 non-null  object
 3   순운전자본비율   10543 non-null  float64
 4   유보율       10543 non-null  float64
 5   총자본영업이익률  10543 non-null  float64
 6   부채비율      10543 non-null  float64
 7   총자본회전률    10543 non-null  float64
dtypes: float64(5), object(3)
memory usage: 592.1+ KB

In [3]:
kos.describe()

,거래소코드,순운전자본비율,유보율,총자본영업이익률,부채비율,총자본회전률
count,11658.000000,10543.000000,10543.000000,10543.000000,10543.000000,10543.000000
mean,66751.568022,17.460442,1369.669141,3.895424,99.816492,0.888446
std,93173.657341,24.521418,3322.277550,8.038914,235.298007,0.566761
min,20.000000,-189.960000,-97.450000,-73.610000,0.000000,0.000000
25%,11810.000000,0.485000,330.120000,0.800000,28.485000,0.530000
50%,43100.000000,16.390000,760.610000,3.680000,61.590000,0.790000
75%,86812.500000,33.700000,1467.295000,7.620000,116.040000,1.130000
max,950220.000000,94.820000,103679.280000,76.970000,11500.910000,6.190000

In [3]:
class z_score():
    
    def __init__(self, dataframes):
        self.df = dataframes
    
    
    def bad_scoring(self):
        # asd = self.df.columns.tolist()
        df = self.df[['회사명', '회계년도', '거래소코드', '순운전자본비율', '유보율', '총자본영업이익률', '부채비율', '총자본회전률']]
        df['자본부채비율'] = 1/df['부채비율']
        df_new = df.drop('부채비율', axis=1)
        df_new['z_score'] = 0.012*df_new['순운전자본비율'] + 0.014*df_new['유보율'] + 0.033*df_new['총자본영업이익률'] + 0.006*df_new['자본부채비율'] + 0.999*df_new['총자본회전률']
        df_new['z_score'] = round(df_new['z_score'], 2)
        df_bad = df_new[df_new['z_score'] < 1.81]
        
        return df_bad    
    def good_scoring(self):
        # asd = self.df.columns.tolist()
        df = self.df[['회사명', '회계년도', '거래소코드', '순운전자본비율', '유보율', '총자본영업이익률', '부채비율', '총자본회전률']]
        df['자본부채비율'] = 1/df['부채비율']
        df_new = df.drop('부채비율', axis=1)
        df_new['z_score'] = 0.012*df_new['순운전자본비율'] + 0.014*df_new['유보율'] + 0.033*df_new['총자본영업이익률'] + 0.006*df_new['자본부채비율'] + 0.999*df_new['총자본회전률']
        df_new['z_score'] = round(df_new['z_score'], 2)
        df_good = df_new[df_new['z_score'] > 2.99]
        return df_good
    
    def unique_bad_name(self):
        df = self.bad_scoring()
        df_bad = df['회사명'].unique()
        df_bad = pd.DataFrame(df_bad)
        df_bad.columns = ['name']
        print("관리종목 갯수 : ", len(df_bad))
        return df_bad
    
    
    
    def unique_good_name(self):
        df = self.good_scoring()
        df_good = df['회사명'].unique()
        df_good = pd.DataFrame(df_good)
        df_good.columns = ['name']
        print("종목 갯수 : ", len(df_good))
        return df_good
    
    
    
    
    def unique_bad_code(self):
        df = self.bad_scoring()
        df_bad_code = df['거래소코드'].unique()
        df_bad_code = pd.DataFrame(df_bad_code)
        df_bad_code.columns = ['code']
        df_name_code = pd.concat([self.unique_name(),df_bad_code], axis=1,join= "outer" )
        return df_name_code
        # return df_bad_code
        
    def unique_good_code(self):
        df = self.good_scoring()
        df_goood_code = df['거래소코드'].unique()
        df_goood_code = pd.DataFrame(df_goood_code)
        df_goood_code.columns = ['code']
        df_name_code = pd.concat([self.unique_good_name, df_goood_code], axis=1, join="outer")
        return df_name_code

In [5]:
zz = z_score(kos)
zz.unique_good_code()

TypeError: cannot concatenate object of type '<class 'method'>'; only Series and DataFrame objs are valid

In [79]:
z_score(kos).unique_code()

관리종목 갯수 :  230

             name    code
0        (주)CMG제약  058820
1        (주)DB하이텍  000990
2        (주)HJ중공업  097230
3          (주)STX  011810
4        (주)골드앤에스  035290
..            ...     ...
225      한솔홀딩스(주)  004150
226    한일현대시멘트(주)  006390
227  현대두산인프라코어(주)  042670
228  현대바이오사이언스(주)  048410
229       휴림로봇(주)  090710

[230 rows x 2 columns]

In [57]:
z_score(kos).scoring()

,회사명,회계년도,거래소코드,순운전자본비율,유보율,총자본영업이익률,총자본회전률,자본부채비율,z_score
6,(주)CMG제약,2010/12,58820,32.41,-16.75,-31.74,0.48,0.024522,-0.41
7,(주)CMG제약,2011/12,58820,27.75,-16.28,2.70,0.69,0.019759,0.88
8,(주)CMG제약,2012/12,58820,70.91,-4.27,-9.57,0.38,0.012449,0.86
9,(주)CMG제약,2013/12,58820,58.54,13.24,1.46,0.36,0.070922,1.30
10,(주)CMG제약,2014/12,58820,33.80,13.28,0.78,0.40,0.054171,1.02
...,...,...,...,...,...,...,...,...,...
11459,현대두산인프라코어(주),2015/12,42670,-23.68,81.96,-2.17,0.53,0.004612,1.32
11475,현대바이오사이언스(주),2016/12,48410,18.07,17.33,-15.38,0.65,0.005420,0.60
11478,현대바이오사이언스(주),2013/12,48410,38.49,44.48,-27.43,0.71,0.024510,0.89
11479,현대바이오사이언스(주),2010/12,48410,48.25,-34.81,2.99,1.43,0.014799,1.62
11626,휴림로봇(주),2014/12,90710,-22.73,1.57,-18.65,0.79,0.001683,-0.08

In [24]:
z_score(kos).uniqu()

관리종목 갯수 :  230

             name
0        (주)CMG제약
1        (주)DB하이텍
2        (주)HJ중공업
3          (주)STX
4        (주)골드앤에스
..            ...
225      한솔홀딩스(주)
226    한일현대시멘트(주)
227  현대두산인프라코어(주)
228  현대바이오사이언스(주)
229       휴림로봇(주)

[230 rows x 1 columns]

In [30]:
table_name = 'issues'

engine = create_engine("mysql+pymysql://root:dkrkwk18!@localhost:3306/k_score"
                .format(host='localhost', user='root', password='dkrkwk18!',
                        db=table_name))

z_score(kos).scoring().to_sql(table_name , con = engine, if_exists = 'append')

761

In [40]:
table_name = 'issues_name'

engine = create_engine("mysql+pymysql://root:dkrkwk18!@localhost:3306/k_score"
                .format(host='localhost', user='root', password='dkrkwk18!',
                        db=table_name))

z_score(kos).uniqu().to_sql(table_name , con = engine, if_exists = 'append')

관리종목 갯수 :  230

230

In [80]:
table_name = 'issues_name_code'

engine = create_engine("mysql+pymysql://root:dkrkwk18!@localhost:3306/k_score"
                .format(host='localhost', user='root', password='dkrkwk18!',
                        db=table_name))

z_score(kos).unique_code().to_sql(table_name , con = engine, if_exists = 'replace')

관리종목 갯수 :  230

230