In [1]:
import warnings
warnings.filterwarnings('ignore')
import pymysql
from sqlalchemy import create_engine
import pandas as pd

## 알트만 z-score 
 1. 운전 자본 비율 : 유동자산 - 유동부채 / 자산총계
 2. 누적 수익성 비율 : 이익 잉여금 / 자산 총계
 3. 총 자산 영업 이익률 : 영업이익 / 자산총계
 4. 자본 부채 비율 : 자기자본의 시장가치 / 부채총계
 5. 총 자산회전율 : 매출액/자산총계 


 * Z > 2.99 : 부도가능성 낮음
 * 1.81 < Z < 2.99 : 판단 보류
 * Z < 1.81 : 부도 가능성 높음

* 6년기간 z-스코어 2010-2016
 
* 2021 - 2022
 - 장기 투자를 본다면 단기 데이터는 신뢰성이 떨어진다.   

데이터수가 변수의 10배 이상 

2007-2008 이벤트 
2020 1 나머지는 0 

부실기업 스코지표 종목 선정 -> 투자

In [43]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd


csv_name = input('type your "csv_name"')
db_name = input('type your "db_name"')

data = pd.read_csv(f"./{csv_name}.csv", encoding='cp949')

engine = create_engine("mysql+pymysql://root:dkrkwk18!@localhost/k_score"
                .format(host='localhost', user='root', password='dkrkwk18!',
                        db=db_name))

#if_exists: {'fail', 'replace', 'append'}
data.to_sql(db_name , con = engine, if_exists = 'append')

1564

In [2]:
import pandas as pd
kos = pd.read_csv("./7_kop_kod.csv", encoding='cp949')
# kos = pd.DataFrame(kos)
kos.head()

          회사명   거래소코드     회계년도  순운전자본비율  유보율  총자본영업이익률  부채비율  총자본회전률
0  (주)BNK금융지주  138930  2011/12      NaN  NaN       NaN   NaN     NaN
1  (주)BNK금융지주  138930  2012/12      NaN  NaN       NaN   NaN     NaN
2  (주)BNK금융지주  138930  2013/12      NaN  NaN       NaN   NaN     NaN
3  (주)BNK금융지주  138930  2014/12      NaN  NaN       NaN   NaN     NaN
4  (주)BNK금융지주  138930  2015/12      NaN  NaN       NaN   NaN     NaN

In [82]:
kos.describe()

,거래소코드,순운전자본비율,유보율,총자본영업이익률,부채비율,총자본회전률
count,11658.000000,10543.000000,10543.000000,10543.000000,10543.000000,10543.000000
mean,66751.568022,17.460442,1369.669141,3.895424,99.816492,0.888446
std,93173.657341,24.521418,3322.277550,8.038914,235.298007,0.566761
min,20.000000,-189.960000,-97.450000,-73.610000,0.000000,0.000000
25%,11810.000000,0.485000,330.120000,0.800000,28.485000,0.530000
50%,43100.000000,16.390000,760.610000,3.680000,61.590000,0.790000
75%,86812.500000,33.700000,1467.295000,7.620000,116.040000,1.130000
max,950220.000000,94.820000,103679.280000,76.970000,11500.910000,6.190000

In [83]:
class z_score():
    
    def __init__(self, dataframes):
        self.df = dataframes
    
    
    def scoring(self):
        # asd = self.df.columns.tolist()
        df = self.df[['회사명', '순운전자본비율', '유보율', '총자본영업이익률', '부채비율', '총자본회전률']]
        df['자본부채비율'] = 1/df['부채비율']
        df_new = df.drop('부채비율', axis=1)
        df_new['z_score'] = 0.012*df_new['순운전자본비율'] + 0.014*df_new['유보율'] + 0.033*df_new['총자본영업이익률'] + 0.006*df_new['자본부채비율'] + 0.999*df_new['총자본회전률']
        df_new['z_score'] = round(df_new['z_score'], 2)
        df_good = df_new[df_new['z_score'] > 2.99]
        return df_good

In [84]:
z_score(kos).scoring()

           회사명  순운전자본비율     유보율  총자본영업이익률  총자본회전률    자본부채비율  z_score
20     (주)ES큐브    45.32  261.47      1.49    0.73  0.076628     4.98
21     (주)ES큐브    30.83  236.81     -4.49    0.90  0.064267     4.44
22     (주)ES큐브    27.76  240.97      1.44    0.98  0.083195     4.73
23     (주)ES큐브    62.78  139.57      0.47    0.99  0.115075     3.71
24     (주)ES큐브    41.02  125.94      0.71    0.80  0.111732     3.08
...        ...      ...     ...       ...     ...       ...      ...
11653  흥아해운(주)   -14.97  207.39     -1.36    1.27  0.002574     3.95
11654  흥아해운(주)    -3.83  255.68      3.97    1.16  0.003027     4.82
11655  흥아해운(주)   -13.52  239.19      3.16    1.40  0.003480     4.69
11656  흥아해운(주)   -17.38  192.06      0.13    0.91  0.002423     3.39
11657  흥아해운(주)   -19.58  227.76      6.03    1.36  0.002820     4.51

[9224 rows x 7 columns]

In [3]:
df = kos[['회사명', '순운전자본비율', '유보율', '총자본영업이익률', '부채비율', '총자본회전률']]
df.head()

          회사명  순운전자본비율  유보율  총자본영업이익률  부채비율  총자본회전률
0  (주)BNK금융지주      NaN  NaN       NaN   NaN     NaN
1  (주)BNK금융지주      NaN  NaN       NaN   NaN     NaN
2  (주)BNK금융지주      NaN  NaN       NaN   NaN     NaN
3  (주)BNK금융지주      NaN  NaN       NaN   NaN     NaN
4  (주)BNK금융지주      NaN  NaN       NaN   NaN     NaN

In [4]:
df['자본부채비율'] = 1/df['부채비율']
df.head()

          회사명  순운전자본비율  유보율  총자본영업이익률  부채비율  총자본회전률  자본부채비율
0  (주)BNK금융지주      NaN  NaN       NaN   NaN     NaN     NaN
1  (주)BNK금융지주      NaN  NaN       NaN   NaN     NaN     NaN
2  (주)BNK금융지주      NaN  NaN       NaN   NaN     NaN     NaN
3  (주)BNK금융지주      NaN  NaN       NaN   NaN     NaN     NaN
4  (주)BNK금융지주      NaN  NaN       NaN   NaN     NaN     NaN

In [5]:
df_new = df.drop('부채비율', axis=1)
df_new.head()

          회사명  순운전자본비율  유보율  총자본영업이익률  총자본회전률  자본부채비율
0  (주)BNK금융지주      NaN  NaN       NaN     NaN     NaN
1  (주)BNK금융지주      NaN  NaN       NaN     NaN     NaN
2  (주)BNK금융지주      NaN  NaN       NaN     NaN     NaN
3  (주)BNK금융지주      NaN  NaN       NaN     NaN     NaN
4  (주)BNK금융지주      NaN  NaN       NaN     NaN     NaN

z_score = 0.012*운전자본비율 + 0.014*누적수익성비율 + 0.033*총자산영업이익률 + 0.006*자본부채비율 + 0.999*총자본회전률

In [6]:
df['z_score'] = 0.012*df['순운전자본비율'] + 0.014*df['유보율'] + 0.033*df['총자본영업이익률'] + 0.006*df['자본부채비율'] + 0.999*df['총자본회전률']
df['z_score'] = round(df['z_score'], 2)
df.head()

          회사명  순운전자본비율  유보율  총자본영업이익률  부채비율  총자본회전률  자본부채비율  z_score
0  (주)BNK금융지주      NaN  NaN       NaN   NaN     NaN     NaN      NaN
1  (주)BNK금융지주      NaN  NaN       NaN   NaN     NaN     NaN      NaN
2  (주)BNK금융지주      NaN  NaN       NaN   NaN     NaN     NaN      NaN
3  (주)BNK금융지주      NaN  NaN       NaN   NaN     NaN     NaN      NaN
4  (주)BNK금융지주      NaN  NaN       NaN   NaN     NaN     NaN      NaN

건전 기업, 부실기업 나누고 싶다.

In [7]:
df_good = df[df['z_score'] > 2.99]

In [8]:

print('전체기업 수 : ', len(df))
print('건전기업 수 : ', len(df_good))
print('건전기업 비율 : ', round(len(df_good)/len(df), 2))

전체기업 수 :  11658
건전기업 수 :  9224
건전기업 비율 :  0.79

In [11]:
asd = df_good['회사명'].unique()
print(len(asd))

1620

In [65]:
df_good.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1276 entries, 768 to 496
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   회사명       1276 non-null   object
 1   순운전자본비율   1276 non-null   float64
 2   유보율       1276 non-null   float64
 3   총자본영업이익률  1276 non-null   float64
 4   부채비율      1276 non-null   float64
 5   총자본회전률    1276 non-null   float64
 6   자본부채비율    1276 non-null   float64
 7   z_score   1276 non-null   float64
dtypes: float64(7), object(1)
memory usage: 84.7+ KB

In [63]:
asd = df_good.columns.tolist()

for i in asd:
    df_good.sort_values(i, ascending=False, inplace=True)
    
df_good

,회사명,순운전자본비율,유보율,총자본영업이익률,부채비율,총자본회전률,자본부채비율,z_score
768,(주)제이웨이,-219.99,0.00,-29.83,0.00,0.63,inf,inf
792,(주)지어소프트,-59.59,0.00,10.12,0.00,1.11,inf,inf
246,(주)베스파,-26.16,0.00,-89.83,0.00,1.01,inf,inf
365,(주)스코넥엔터테인먼트,-36.72,0.00,-47.37,0.00,0.92,inf,inf
45,(주)네오이뮨텍,75.89,7159649.02,-33.41,13.07,0.00,0.076511,100234.89
...,...,...,...,...,...,...,...,...
941,(주)파나진,70.98,85.73,14.08,6.92,0.53,0.144509,3.05
1320,에이비온(주),60.73,242.33,-34.57,38.68,0.06,0.025853,3.04
189,(주)마이크로디지탈,38.27,226.61,-22.96,183.59,0.15,0.005447,3.02
700,(주)이미지스테크놀로지,57.80,12.91,5.20,35.08,1.98,0.028506,3.02
496,(주)에스엠라이프디자인그룹,54.60,111.25,2.81,15.65,0.69,0.063898,3.00

In [ ]:
df_good.columns = ["company", "w_c_ratio", "" ]

In [45]:
from sqlalchemy import create_engine
import pymysql

table_name = 'dksfadf'

engine = create_engine("mysql+pymysql://root:dkrkwk18!@localhost:3306/k_score"
                .format(host='localhost', user='root', password='dkrkwk18!',
                        db=table_name))

df_good.to_sql(table_name , con = engine, if_exists = 'append')

ValueError: inf cannot be used with MySQL