In [7]:
import pymysql
import pandas as pd

In [15]:
data = {
    'STOCK_CODE' : ['A376180', 'A366030', 'A246690'],
    'STOCK_NAME' : ['피코그램', '공구우먼', 'TS인베스트먼트'],
    'OPEN_PRICE' : [30350, 103300, 3700],
    'UP_DOWN_RATIO' : [29.98, 29.94, 29.82],
    'DIFF' : [7000, 23800, 850],
    'VOLUME' : [1792968, 26247, 65081584],
    'DIFFFLAG' : [49, 49, 50]
}

df_stock = pd.DataFrame(data)
df_stock

  STOCK_CODE STOCK_NAME  OPEN_PRICE  UP_DOWN_RATIO   DIFF    VOLUME  DIFFFLAG
0    A376180       피코그램       30350          29.98   7000   1792968        49
1    A366030       공구우먼      103300          29.94  23800     26247        49
2    A246690   TS인베스트먼트        3700          29.82    850  65081584        50

In [28]:
from sqlalchemy import create_engine

In [30]:
db = pymysql.connect(host='localhost', user='root', password='dkrkwk18!',
                       db='stock', charset='utf8') # 한글처리 (charset = 'utf8')

# STEP 3: Connection 으로부터 Cursor 생성
cur = db.cursor()
 
# # STEP 4: SQL문 실행 및 Fetch
sql = """
    CREATE TABLE stock_info (
        STOCK_CODE VARCHAR(7) NOT NULL,
        STOCK_NAME VARCHAR(20) NOT NULL,
        OPEN_PRICE INT ,
        UP_DOWN_RATIO FLOAT ,
        diff INT ,
        VOLUME INT ,
        diffflag INT
    );
"""
cur.execute(sql)

0

In [29]:
# STEP 2: MySQL Connection 연결
db_connection_str = 'mysql+pymysql://root:dkrkwk18!@localhost/stock'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

In [33]:
df_stock.to_sql(name='stock_info', con=db_connection, if_exists='replace', index=False)

3

In [ ]:
# # 데이타 Fetch
# rows = cur.fetchall()
# print(rows)     # 전체 rows

# # STEP 5: DB 연결 종료
# con.close()